# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg

# Virtual env
venv/
.env/
.env

# IDE
.vscode/
.idea/
*.swp

# Models (trop lourds pour Git)
models/*.pth
models/*.pt

# Données
data/iam*/
data/synthetic*/
data/splits/

# Outputs
output/results/
captures/
logs/

# OS
.DS_Store
Thumbs.db

# MLflow
mlruns/

# Jupyter
.ipynb_checkpoints/
ANALYSE_ET_PLAN_ACTION.md
taches_plan_action/
V0_Division_Taches.md
V0_Plan_Detaille.md
ANALYSE_ET_PLAN_ACTION.md
INSTRUCTIONS_ENTRAINEMENT_MODELES.md
GUIDE_INTERFACE.md
Claud_edits.md
plan_actuelele.md
plan_integration_v3.md
ANALYSE_OCR_MOTEURS_V4.md
CORRECTIFS_V4.md
DIAGNOSTIC_COMPLET_V4.md
Diagnostic et Solutions pour l'Application Streamlit PR_AE_V5.md
Guide de Correction pour le Projet PR_AE (pour IA Externe).md